@import './utils/normalize.scss';

$size-xs: .25rem;
$size-s: .5rem;
$size-m: 1rem;
$size-l: 1.5rem;
$size-xl: 2rem;

$brand-01: #00B2CA;
$brand-02: #34BC6E;
$brand-03: #FFF07C;
$ui-01: #111;
$text-01: #111;
$text-02: #fefefe;

$transition-time: 250ms;

body {
  font-family: system-ui,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 400;
  padding: 1rem 5%;
  margin: 0 auto;
  max-width: 1000px;
  color: $ui-01;
  display: flex;
  align-items: center;

  @media (max-width: 600px) {
    padding: 2rem 1rem;
    align-items: flex-start;

    p {
      line-height: 1.5;
    }
  }
}

.link {
  transition: all $transition-time;
  font-weight: 700;
  color: $text-01;
  background-position: -100%;
  background-image: linear-gradient(to left,
  transparent,
  transparent 50%,
  $brand-03 50%,
  $brand-03);
  background-position: 100% 0;
  background-size: 200% 100%;

  &:visited {
    color: $text-01;
  }

  &:hover {
    background-position: 0 0;
  }
}

.button {
  background-color: $brand-03;
  border: 2px solid $text-01;
  padding: 0 $size-m;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: $text-01;
  transition: all $transition-time;

  svg {
    margin-right: 1rem;
    position: relative;
    width: $size-l;
    vertical-align: middle;
    transition: all $transition-time;
  }

  &:hover {
    cursor: pointer;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (max-width: 600px) {
    height: 100%;
  }
}

.title {
  .name {
    display: inline-block;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 4rem;

    @media (max-width: 600px) {
      margin-bottom: 2rem;
    }
  }

  .bio {
    font-size: 1.25rem;
  }

  .location {
    font-style: italic;
    margin-top: $size-s;
    margin-bottom: 2rem;
  }

  .button {
    position: relative;

    &:focus {
      outline: none;
      box-shadow: 2px 2px 2px 0 rgba(#333, .4);
    }
  }

  .tooltip {
    margin-top: $size-xs;
    transition: all $transition-time;
    position: absolute;
    background-color: $text-01;
    border: 2px solid $text-01;
    color: $text-02;
    padding: $size-s;
    font-size: 10px;
    font-weight: 700;
    top: 100%;
    left: -2px;
    transform: translate(0, 10px) scaleY(1);
    height: auto;
    visibility: visible;
    opacity: 1;

    span {
      white-space: nowrap;
    }

    &.hidden {
      transform: translate(0, 0) scaleY(.8);
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
    }
  }
}

footer {
  @media (max-width: 600px) {
    margin-top: auto;
  }
}
.social {
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
  padding: 0;

  li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: $size-m;
    transition: all $transition-time;
    padding: $size-xs;
    border-radius: 100%;

    &:hover {
      background-color: $brand-03;
    }

    a {
      height: $size-l;
      width: $size-l;
      display: flex;
      align-items: center;
      border-radius: 100%;
    }
  }

  svg {
    fill: $ui-01;
    width: 100%;
  }
}

