/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  padding: 1rem 5%;
  margin: 0 auto;
  max-width: 1000px;
  color: #161616;
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  body {
    padding: 2rem 1rem;
    align-items: flex-start;
  }
  body p {
    line-height: 1.5;
  }
}

.link {
  transition: all 250ms;
  font-weight: 700;
  color: #161616;
  background-position: -100%;
  background-image: linear-gradient(to left, transparent, transparent 50%, #0f62fe 50%, #0f62fe);
  background-position: 100% 0;
  background-size: 200% 100%;
  background-repeat: no-repeat;
}
.link:visited {
  color: #161616;
}
.link:hover {
  background-position: 0 0;
}

.button {
  background-color: #0f62fe;
  border: 0;
  padding: 16px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #ffffff;
  transition: all 250ms;
}
.button svg {
  margin-left: 32px;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  transition: all 250ms;
  fill: #ffffff;
}
.button:hover {
  cursor: pointer;
  background-color: #0353e9;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 600px) {
  .main {
    height: 100%;
  }
}

.title .name {
  padding-left: 16px;
  display: inline-block;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.title .bio {
  padding-left: 16px;
  font-size: 1.25rem;
}
.title .location {
  padding-left: 16px;
  font-style: italic;
  margin: 1rem 0 2rem;
}
.title .button {
  position: relative;
}
.title .button:focus {
  outline: 2px solid #ffffff;
  outline-offset: -4px;
}
.title .tooltip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms;
  position: absolute;
  background-color: #161616;
  color: #ffffff;
  padding: 16px;
  height: 40px;
  font-size: 14px;
  width: 100%;
  transform: translateX(100%);
  visibility: visible;
  opacity: 1;
}
.title .tooltip span {
  white-space: nowrap;
}
.title .tooltip.hidden {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

@media (max-width: 600px) {
  footer {
    margin-top: auto;
  }
}

.social {
  display: flex;
  margin-top: 2rem;
  padding: 0 0 0 16px;
  position: relative;
}
.social li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  transition: all 250ms;
  padding: 0.25rem;
  border-radius: 100%;
}
.social li a {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 100%;
}
.social svg {
  fill: #161616;
  width: 100%;
  height: 100%;
}

.box {
  transition: all 150ms;
  background-color: #4589ff;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  z-index: -1;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  pointer-events: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

/*# sourceMappingURL=/main.77bb5cfd.css.map */